---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


---

<!doctype html>
<html lang="es" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="JMG Joel Martínez Gómez Desarrollador web frontend" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/Joel Martínez Gómez Desarrollador Web .webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;

	}
	html {
		font-family: system-ui, sans-serif;
		/*background:#00FF0000 ; 
  		background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); 
 	 	background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
		background: #000428  #008cff6b #cee9ff44;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #003b6e, #000428);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #003a6d, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script>

  const lightModeInput = document.querySelector('#lightmode');

  lightModeInput?.addEventListener('click', ()=>{
    document.documentElement.classList.toggle('light');

  })
</script>
